html {
    background-color: var(--bright);
}

body {
    background-color: inherit;
    font-family: Rubik;
    margin: 0;
    font-size: 14px;
}

.Screen {
    display: none;
}

.UsernameBox {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    min-height: 50px;
    min-width: 100px;
    padding: 30px;
    width: 50%;
    background-color: var(--darker);
    text-align: center;
    border-radius: 10px;
}

input[type=text], select {
    width: 100%;
    padding: 20px 0px;
    display: inline-block;
    border: 0px solid var(--pink);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--black);
    margin-left: auto;
    margin-right: auto;
    font-family: Rubik;
    background-color: var(--white);
    text-align:center;
    font-size: 1.4em;
}

.Button {
    width: 100%;
    padding: 20px 20px;
    display: inline-block;
    border-radius: 4px;
    font-family: Rubik;
    color: var(--black);
    border: 0px solid black;
    background-color: var(--pink);
    font-size: 1.5em;
}

.Button:hover {
    background-color: var(--pink-light);
}

.Button:active {
    background-color: var(--red);
}

.Tab {
    overflow: hidden;
    border: 0px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
}

.TabButton {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

    .TabButton:hover {
        background-color: #ddd;
    }

    .TabButton:active {
        background-color: #ccc;
    }

.TabContent {
    display: none;
    padding: 6px 12px;
    border: 0px solid #ccc;
    border-top: none;
    animation: fadeIn 1s;
}

:root {
    --white: #f5f4ef;
    --bright: #EAE7DC;
    --darker: #D8C3A5;
    --black: #41403e;
    --gray: #8E8D8A;
    --pink: #E98074;
    --pink-light: #ea8b80;
    --red: #E85A4F;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: local('Rubik Light'), local('Rubik-Light'), url(https://fonts.gstatic.com/s/rubik/v9/iJWHBXyIfDnIV7Fqj2md8WA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v9/iJWKBXyIfDnIV7nBrXw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: local('Rubik Bold'), local('Rubik-Bold'), url(https://fonts.gstatic.com/s/rubik/v9/iJWHBXyIfDnIV7F6iGmd8WA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
